* {
    margin: 0;
    padding: 0;
}

nav {
    background: #dad490;
    padding: 5px 5%;
    position: sticky;
    text-align: center;
}

nav .nav-left h1 {
    text-align: center;
}



.nav-left ul i {
    margin: 0 15px;
}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon {
    margin: 30px;
}

.search-box {
    background: #D9D9D9;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box i {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 6px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar {
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
}

.right-sidebar {
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.main-content {
    flex-basis: 47%;
}

.imp-links a, .shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a i {
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child {
    color: #1876f2;
}

.imp-links {
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p {
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}

/* Styling for the modal */
.modal {
    text-align: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

/* Style the button */
.post-button {
    padding: 10px 20px;
    background-color: #008453;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sidebar-title h4 {
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.sidebar-title a i {
    width: 20px;
    margin-right: 10px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img {
    width: 40px;
    border-radius: 50%;
}

.online-list .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-list .online::after {
    top: unset;
    bottom: 5px;
}

.story-gallary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img {
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 2px solid #043927;
}

.story i {
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 20px;
    left: 10px;
    border-radius: 5px solid #626262;
}

.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story1 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-1.png);
}

.story2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-2.png);
}

.story3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-3.png);
}

.story4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-4.png);
}

.story5 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-5.png);
}

.write-post-container {
    width: 94%;
    background: #efefef;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

.post-input-container {
    padding-left: 55px;
    padding-top: 20px;
}

textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links {
    display: flex;
    margin-top: 10px;
}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-links a img {
    width: 20px;
    margin-right: 10px;
}

.post-container {
    width: 94%;
    background: #efefef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px;
}

.user-profile span {
    font-size: 13px;
    color: #9a9a9a;
}

.post-text {
    padding: 20px 0px 5px;
    border-bottom: 1px solid #ccc;
    color: #919191;
    margin: 15px;
    font-size: 15px;
}

.post-text span {
    padding-top: 20px;
    color: #626262;
    font-weight: 500;
}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div i {
    width: 18px;
    margin-right: 10px;
    color: #555555;
}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.activity-icons-selected>.post-rating-button {
    color: #1876f2;
}

.post-rating-button {
    margin-right: 6px;
    cursor: pointer;
    color: #555555;
}

.activity-icons:not(.activity-icons-selected)>.post-rating-button:hover {
    color: #000000;
}

/* Styling for the like buttons */
.like-button {
    margin-bottom: 10px;
    background-color: #efefef;
}

.like-btn {
    padding: 5px 10px;
    background-color: #efefef;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.like-count {
    margin-left: 5px;
    font-weight: bold;
}

.cancelbtn {
    background-color: #f44336;
    color: white;
    width: 100%;
    font-size: medium;
    border: none;
    padding: 14px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer
}

input[type=submit] {
    width: 100%;
    font-size: medium;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer
}

.modal-content h2 {
    padding: 10px;
    color: black;
}

.modal-content textarea {
    resize: none;
}

.login-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the last value (alpha) for transparency */
    z-index: 1;
}

.login-popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
    z-index: 1;
    font-size: 20px;
    border-radius: 20px;
}

.login-popup-content {
    text-align: center;
}

.login-popup-content p {
    margin: 15px;
    padding: 15px;
}

.login-popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}